@import '../../../variables.scss';

.backdrop {
  @include backdrop;
  z-index: 40;
}

.modal {
  @include modal;
  max-width: 30rem;
  transform: translate(-50%, -123%);
  z-index: 100;
}

.header h2 {
  margin: 0;
  color: $color-primary;
  cursor: default;
}

.content {
  padding: 0.5rem;
  text-align: center;
  cursor: default;
}

.button {
  align-self: flex-end;
  margin-right: 1rem;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translate(-50%, -180%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -123%);
  }
}
