@import '../../../variables.scss';

.button {
  padding: 0.3rem 0.9rem;
  font-size: 1rem;
  @include border-r;
  color: $color-white;
  background: $color-primary;
  @include border;
  cursor: pointer;

  &:hover {
    @include btn-action;
  }
  &:active {
    background: $color-primary;
    border: 2px solid $color-primary;
  }
}
