@import '../../variables.scss';

.form {
  display: flex;
  width: 90%;
  max-width: 40rem;
  margin: 1rem auto 0.5rem auto;
  position: relative;
}

.input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font: inherit;
  font-size: 1.5rem;
  @include border-r;
  border: none;
  border-bottom: 2px solid $color-primary;
  @include bg-2nd;

  &:focus {
    outline: none;
    border-bottom: 2px solid $color-primary-dark;
  }
}

.plus {
  font-size: 1.5rem;
  padding: 0 0.93rem;
  margin-left: 0.5rem;
}
