@import '../variables.scss';

.button {
  padding: 0.3rem 0.9rem;
  font-size: 1rem;
  @include border-r;
  color: white;
  background: $color-primary;
  @include border;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    @include btn-action;
  }
}
