.sort {
  margin-right: 0.5rem;
  padding: 0 0.85rem;
  background-color: #f7f5ef;
  color: #2a6b6a;
  height: 100%;
}

.sort:hover,
.sort:focus {
  background-color: #f7f5ef;
}

.dropdown {
  position: absolute;
  top: 4rem;
  width: 7rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f7f5ef;
  border: 2px solid #3a9190;
  border-top: none;
  border-radius: 4px;
  z-index: 100;
  box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
  animation: slide-down 300ms ease-out forwards;
}

.dropdown::before {
  content: '';
  position: absolute;
  top: -0.5rem;
  left: 0.85rem;
  height: 1rem;
  width: 1rem;
  background-color: #f7f5ef;
  transform: rotate(45deg);
  z-index: 110;
}

.dropdownHeader {
  margin: 0.3rem 0 0 0;
  padding-left: 0.5rem;
  color: #555555;
  cursor: default;
  height: 30%;
  font-weight: 500;
  border-bottom: 1px solid lightgray;
}

.dropdownList {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 65%;
  background-color: #f7f5ef;
}

.dropdownItem {
  padding-left: 1rem;
  height: 50%;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-bottom: 0.1rem;
}

.dropdownItem:hover {
  background-color: #3a9190;
  color: white;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
