@import '../variables.scss';

.item {
  width: 100%;
  @include flex-Ycenter;
  justify-content: flex-start;
  margin: 1rem 0;
  @include shadow;
  padding: 1rem;
  @include bg-2nd;
  border-radius: 12px;
  animation: slide-right 400ms ease-out forwards;

  &:first-child {
    margin-top: 0;
  }
}

.input {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1rem 0 0;

  &:checked {
    accent-color: $color-primary;
  }
  &:hover {
    cursor: pointer;
  }
}

.txt {
  width: 60%;
  margin-right: 1rem;
  word-break: break-all;
  cursor: default;
}

.other {
  width: 30%;
  height: 100%;
  margin-left: auto;
  @include flex-column;
}

.icons {
  width: 100%;
  height: 20%;
  @include flex-Ycenter;
  justify-content: flex-end;
}

.icon {
  margin-left: 0.6rem;
  font-size: 2rem;
  line-height: 1rem;
  padding: 0;
  cursor: pointer;
}

.pencil {
  font-size: 1.3rem;
  color: $color-pencil;
}

.cross {
  color: $color-cross;

  &:hover {
    color: $color-cross-2nd;
  }
}

.dates {
  width: 100%;
  height: 80%;
  font-size: 0.8rem;
  text-align: right;
  color: $color-dark-grey;
  cursor: default;
}

.date {
  margin: 0.5rem 0;
}

.header {
  font-weight: 500;
}

.crossed {
  text-decoration: line-through;
  color: $color-light-gray;
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translate(-5rem);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
