@import '../../variables.scss';

.form {
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 20rem;
  position: relative;
  margin: 0 auto;

  & svg {
    position: absolute;
    left: 0.6rem;
    top: 0.5rem;
    font-size: 0.9rem;
    color: $color-glass;
  }
}

.input {
  padding: 0.4rem 0.5rem 0.3rem 1.9rem;
  width: 100%;
  font-size: 1rem;
  color: $color-dark-grey;
  border: 1px solid $color-light-gray;
  @include border-r;
  outline: none;

  &:focus {
    outline: 1px solid grey;
  }

  &::-webkit-search-cancel-button:hover {
    cursor: pointer;
  }
}
