@import '../../variables.scss';

.todos {
  width: 90%;
  max-width: 40rem;
  margin: 0 auto;
}

.list {
  max-height: 62vh;
  padding: 0;
  list-style: none;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-bottom: 2px solid $color-primary;
  margin: 0.5rem 0 0 0;

  &::-webkit-scrollbar {
    display: none;
  }
}

.message {
  text-align: center;
  font-size: 1.5rem;
  margin: 3rem 0 3rem;
  color: $color-dark-grey;
}

.noitems {
  text-align: center;
}
